html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Josefin Sans', sans-serif;
}

thead {
	font-family: 'Josefin Sans', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
  height: 100%;
  position: absolute;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/*table {
	border-collapse: collapse;
	border-spacing: 0;
}*/

*, *::before, *::after {
	box-sizing: border-box;
}

.root {
  height: inherit;
}

.top {
}

.tool-bar {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: baseline;
	width: 100%;
}

.tool-bar-right {
	width: 20%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.main-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}

.the-table{
  height: 66%;
}

.second-step {
	width: 50%;
	height: 100%;
	position: sticky;
	top: 56px;
}

.right {
  width: 50%;
}

.options-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.add-point {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.text {
  color: black;
}

.haversine {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.haversine-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding-left: 10px;
  padding-right: 10px;
}

.left-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.left-options-item-right {
  width: 30% !important;
	margin-right: 5px;
}

.update-textbox {
  width: 25% !important;
  margin-right: 5px;
}

.update-textbox-mile {
  width: 25% !important;
  margin-right: 5px;
  margin-left: 10px;
}

.left-options-item-left {
	width: 30% !important;
	margin-right: 5px;
	margin-left: 5px;
}

.interal {
	height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.drop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dropzone-text {
	text-align: center;
	vertical-align: middle;
}

.title {
	cursor: pointer;
	color: white;
	font-size: 120%;
}


.welcome {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;
}

.welcome img {
	display: block;
	margin: auto;
}

.welcome p {
	margin-bottom: 20px;
	text-align: center;
}

.welcome-bottom {
	display: flex;
	justify-content: space-around;
}

.upload-bottom {
	display: flex;
	justify-content: space-around;
}
